<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="pl.coderslab"/>

    <bean id="dbCustomerLogger" class="pl.coderslab.controller.DBCustomerLogger">
        <property name="host" value="localhost"/>
        <property name="user" value="root"/>
        <property name="password" value="coderslab"/>
        <property name="database" value="springdatabase"/>
    </bean>

    <bean id="fileCustomerLogger" class="pl.coderslab.controller.FileCustomerLogger">
        <property name="filename" value="log.txt"/>
    </bean>

    <bean id="repository" class="pl.coderslab.controller.MemoryCustomerRepository">
        <constructor-arg ref="dbCustomerLogger"/>
    </bean>

    <bean id="customerToRepository" class="pl.coderslab.controller.DBCustomerRepository">
        <property name="host" value="localhost"/>
        <property name="user" value="root"/>
        <property name="password" value="coderslab"/>
        <property name="database" value="springdatabase"/>
    </bean>
</beans>